@model IEnumerable<ZenithDataLib.Models.ZenithSociety.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (ViewBag.displayMenu == "Yes")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Activity.ActivityDescription)*@
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.ActivityDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EventId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EventId })
                </td>
            </tr>
        }

    </table>
}
else
{
    <table class="table">
       @foreach (var item in Model)
        {
            <tr>
                <th>
                    @String.Format("{0:dddd, MMMM d, yyyy}", item.FromDate)
                </th>
           </tr>
           <tr>
                <td>
                    @String.Format("{0:t}", item.FromDate) - @String.Format("{0:t}", item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.ActivityDescription)
                </td>
          </tr>
        }

    </table>
}
